.footer {
  /* background: var(--gradient-one); */
  background-color: var(--primary-color);
}
.footer_container {
  padding: 2em 3em 2em 3em;

  justify-content: space-between;
  align-items: center;
}

.footer_container img {
  width: 8%;
}
.footer_container-contact {
  flex-direction: column;
  gap: 10px;
}
.footer_container-contact span {
  align-items: center;
}
.footer_container-contact span p {
  margin-left: 0.5em;

  color: #eee;
}
.footer_container-contact span .icons {
  font-size: 1.5em;

  color: var(--third-color);
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .footer_container {
    padding: 1.5em;
    flex-direction: column;
    text-align: center;
  }

  .footer_container-contact {
    margin-left: 4rem;
  }
  .footer_container img {
    width: 15%;
    margin-bottom: 1em;
  }
}
