.header {
  position: relative;
}

.header_container {
  background: var(--gradient-one);

  position: relative;

  padding-inline: 3em 8em;

  /* position: fixed; */
}

.header_container img {
  width: 8%;

  /* position: relative;
  top: 0.4em; */

  background-size: contain;
}

.header_container-navLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_container-navLinks li {
  font-size: 20px;
  font-family: "poppins", sans-serif;
}
.header_container-navLinks li a {
  color: var(--primary-color);

  padding-bottom: 0.5em;

  border-bottom: 5px solid transparent;

  transition: all 0.3s;
}
.header_container-navLinks li a:hover {
  border-bottom: 5px solid var(--fifth-color);
}

.header_container-overlay {
  display: none;
}
.header_container-menuBtn {
  display: none;
  cursor: pointer;
}
.header_container-menuBtn div {
  background-color: #000;
  height: 3px;
  width: 25px;

  transition: 0.4s ease-in-out;
}
.header_container-menuBtn div:not(:last-child) {
  margin-bottom: 5px;
}
.show .div1 {
  transform: translate(0, 11px) rotate(45deg);
}
.show .div2 {
  opacity: 0;
}
.show .div3 {
  transform: translate(0, -5px) rotate(-45deg);
}

/* MEDIA QUERIES FOR 768PX... */
@media screen and (max-width: 768px) {
  .header {
    /* margin-inline: 3em; */
    background: var(--gradient-one);
  }
  .header_container {
    margin-inline: 3em;
    /* border: 1px solid hotpink; */

    padding-inline: 0;
  }
}

/* MEDIA QUERIES FOR 576PX... */
@media screen and (max-width: 576px) {
  .header_container {
    overflow-x: hidden;

    overflow-y: hidden;

    padding-inline: 1em;
  }

  .header_container img {
    /* background-color: red; */
    width: 25%;
  }

  .header_container-navLinks {
    display: none;
  }

  .header_container-menuBtn {
    display: block;
    padding-inline-end: 3em;
  }

  .header_container-overlay {
    display: block;
    height: 270px;
    width: 250px;

    top: 7em;
    /* left: 100%; */

    position: absolute;

    z-index: 999;

    /* background-color: var(--secondary-color); */
    background-color: rgb(0, 0, 0, 0.2);
    border: 1px solid var(--fifth-color);

    /* transition: 0.4s; */
  }

  .header_container-overlay ul {
    padding: 3em 1em;
  }
  .header_container-overlay ul li {
    transition: all 0.3s;
  }

  .header_container-overlay ul li:not(:last-child) {
    margin-bottom: 1.5em;
  }

  .header_container-overlay ul li .link {
    display: block;
    font-size: 1.5em;

    color: #000;

    transition: 0.3s;
  }
  .header_container-overlay ul li .link:hover {
    background-color: var(--primary-color);
    color: #eee;

    padding-left: 0.5em;
  }
}

/* MEDIA QUERIES FOR 568PX... */
@media screen and (max-width: 568px) {
  .header_container img {
    /* background-color: red; */
    width: 25%;
  }
}

/* MEDIA QUERIES FOR 425PX... */
@media screen and (max-width: 425px) {
  /* .header {
    background-color: brown;
  } */

  .header_container {
    padding-inline: 0em;
  }

  .header_container img {
    width: 35%;
  }

  .header_container-overlay {
    display: block;
    height: 270px;
    width: 190px;
    top: 8em;
  }
}
