/* .header {
  position: relative;
} */

.header_container {
  /* background: var(--gradient-one); */

  background-color: var(--primary-color);
  position: relative;

  padding-inline: 3em 8em;
}

.header_container img {
  width: 8%;

  background-size: contain;
}

.header_container-navLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_container-navLinks li {
  font-size: 20px;
  font-family: "poppins", sans-serif;
}
.header_container-navLinks li a {
  color: var(--fourth-color);

  padding-bottom: 0.5em;

  border-bottom: 5px solid transparent;

  transition: all 0.3s;
}
.header_container-navLinks li a:hover {
  border-bottom: 5px solid var(--fifth-color);
}

.header_container-overlay {
  display: none;
}
.header_container-menuBtn {
  display: none;
  cursor: pointer;
}
.header_container-menuBtn div {
  background-color: #000;
  height: 3px;
  width: 25px;

  transition: 0.4s ease-in-out;
}
.header_container-menuBtn div:not(:last-child) {
  margin-bottom: 5px;
}
.show .div1 {
  transform: translate(0, 11px) rotate(45deg);
}
.show .div2 {
  opacity: 0;
}
.show .div3 {
  transform: translate(0, -5px) rotate(-45deg);
}

/* Responsive CSS for mobile devices */

@media only screen and (max-width: 767px) {
  .header_container {
    padding-inline: 1.5em;
  }

  .header_container img {
    width: 15%;
  }

  .header_container-navLinks li {
    font-size: 16px;
  }

  .header_container-menuBtn {
    display: none;
  }

  .header_container-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .show .header_container-overlay {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  .show .div1,
  .show .div2,
  .show .div3 {
    background-color: #fff; /* Change color for better visibility */
  }
}
