.hero {
  background-color: var(--primary-color);
}
.hero_container {
  background-color: var(--primary-color);

  padding: 1em 3em;

  justify-content: space-between;
  align-items: center;
}
.hero_container-img {
  background-color: rgb(238, 238, 238, 0.1);
  /* background-image: url("../../public/assets/person.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */

  border: none;
  border-radius: 2% 39% 40% 2%;
  box-shadow: 6px 5px rgba(238, 238, 238, 0.6);

  height: 300px;
  width: 350px;
}
.hero_container-text {
  width: 50%;
}
.hero_container-text h1 {
  width: 95%;

  font-size: 2em;
  font-family: "montserrat", sans-serif;
  font-weight: 400;

  line-height: 1.5;

  color: var(--fourth-color);
}
.hero_container-text p {
  font-size: 1.2em;
  font-family: "poppins", sans-serif;

  color: #929090;
}

.cta_container {
  margin-top: 0.5em;
  align-items: center;
  gap: 20px;
}
.cta_container a {
  padding: 0.5em 0.8em;

  background-color: var(--fourth-color);
  color: #333;

  font-size: 1em;

  border: none;
  border-radius: 2px;

  cursor: pointer;

  transition: 0.2s;
}

@media (hover: hover) {
  .cta_container a:hover {
    background-color: #333;
    color: #eee;
    transform: scale(1.1);
  }
}

/* Media query for higher screen resolutions of 2560px */
@media screen and (min-width: 2560px) {
  .hero_container {
    padding: 2em 5em; /* Adjusted padding for wider screens */
  }

  .hero_container-img {
    height: 400px; /* Adjusted image height for larger screens */
    width: 450px; /* Adjusted image width for larger screens */
  }

  .hero_container-text h1 {
    font-size: 2.5em; /* Increased font size for larger screens */
  }

  .hero_container-text p {
    font-size: 1.5em; /* Increased font size for larger screens */
  }

  .cta_container a {
    padding: 1em 1.5em; /* Adjusted padding for larger screens */
    font-size: 1.2em; /* Increased font size for larger screens */
  }
}

/* MEDIA QUERIES FOR 768PX... */
@media screen and (max-width: 768px) {
  .hero_container {
    margin-inline: 3em;

    padding: 1em 0;
  }

  .hero_container-img {
    background-color: rgb(238, 238, 238, 0.1);
    /* background-image: url("../../public/assets/person.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

    border: none;
    border-radius: 2% 39% 40% 2%;
    box-shadow: 6px 5px rgba(238, 238, 238, 0.6);

    height: 280px;
    width: 300px;
  }

  .hero_container-text h1 {
    width: 100%;

    font-size: 1.3em;
    font-family: "montserrat", sans-serif;
    font-weight: 400;

    line-height: 1.5;
  }
}

/* MEDIA QUERIES FOR 576PX... */
@media (max-width: 576px) {
  .hero_container {
    flex-direction: column;
  }
  .hero_container-img {
    height: 250px;
    width: 300px;
  }
  .hero_container-text {
    width: 100%;

    margin-top: 1.5em;

    text-align: center;
  }
  .hero_container-text h1 {
    position: relative;
    right: 0em;

    width: 100%;

    font-size: 1.4em;
  }
  .hero_container-text p {
    margin-block: 1em;
  }

  .cta_container {
    justify-content: center;

    gap: 0;
  }
  .cta_container .know-more {
    margin-left: 3em;
  }
}
