.skills {
  background-color: var(--primary-color);
}
.skills_container {
  padding: 1em 3em;
}
.skills_container h1 {
  text-align: center;

  font-size: 2em;
  font-family: "Poppins", sans-serif;

  color: #eee;
}
.skills_container-card-wrapper {
  margin-top: 1em;
  gap: 20px;
}

.skills_container-subOne,
.skills_container-subTwo {
  flex: 1;
}

.skills_container-subTwo {
  margin-left: 1rem;
}

.skills_container-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills_container-item:not(:last-child) {
  margin-bottom: 1rem;
}

.skills_container-item .icon-img {
  width: 10%;
}
.skills_container-item .icon-img img {
  max-width: 100%;
  height: auto;
}

/* Ranges.... */

.outer-range {
  position: relative;
  width: 100%;
  height: 13px;

  background-color: #aaa9a9;

  border-radius: 10px;

  margin-left: 1rem;
}
.inner-range {
  position: absolute;
  height: 100%;
  width: 95%;

  border-radius: 10px;

  background-color: #eee;
}

.inner-range.js,
.inner-range.react {
  width: 80%;
}

.inner-range.figma {
  width: 70%;
}

/* Texts... */
.skills_container-item span {
  color: #ddd;

  font-size: 100%;
  font-weight: 700;

  margin-left: 1rem;
}

/* Higher screen resolutions of 2560px */
@media only screen and (min-width: 2560px) {
  .skills_container-card-wrapper {
    margin-top: 1em;
    gap: 20px;
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    flex-wrap: wrap; /* Ensure proper wrapping of items */
  }
  .skills_container {
    padding: 1em 8em; /* Adjust padding for wider screens */
  }

  .skills_container h1 {
    font-size: 3em; /* Increase font size for larger screens */
  }

  .skills_container-subTwo {
    display: flex;
    align-items: center;
    align-self: flex-start;

    margin-left: 2rem;
  }
  .skills_container-subOne .skills_container-item,
  .skills_container-subTwo .skills_container-item {
    width: 100%;
  }
}

/* For tablet screen sizes... */
@media only screen and (max-width: 768px) {
  .skills_container-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin-inline: 1rem;
  }

  .skills_container-subTwo {
    display: flex;
    /* justify-self: start; */
    align-self: flex-start;

    margin-left: 0;
  }
}
/* Add media query for mobile devices */
@media only screen and (max-width: 767px) {
  .skills_container-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills_container-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile screens of range 375px to 425px... */
/* @media only screen and (min-width: 375px) and (max-width: 425px) {
} */

/* Mobile screens of 320px... */
@media only screen and (max-width: 320px) {
  .skills_container {
    padding: 1em 1.5em; /* Adjusted padding for smaller screens */
  }

  .skills_container h1 {
    font-size: 1.5em; /* Decreased font size for smaller screens */
  }
}
