.works {
  background-color: var(--secondary-color);

  padding: 2em 3em;
}
.works_container h1 {
  text-align: center;

  font-size: 2em;
}

.works_container .works_container-card-wrapper {
  margin-top: 1em;

  gap: 30px;
  position: relative;

  margin-inline: 0;
}
.works_container-card {
  height: 250px;
  width: 290px;

  border: none;
  border-radius: 5px;

  perspective: 1000px;
}
.works_container-card .works_container-card-inner {
  position: relative;

  width: 100%;
  height: 100%;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.works_container-card:hover .works_container-card-inner {
  transform: rotateY(180deg);
}

.works_container-card
  .works_container-card-inner
  .works_container-card-inner-front {
  background-color: var(--fifth-color);

  border-radius: 5px;
}
.works_container-card
  .works_container-card-inner
  .works_container-card-inner-back {
  position: relative;

  background-color: var(--primary-color);

  border-radius: 5px;

  transform: rotateY(180deg);
}

.works_container-card
  .works_container-card-inner
  .works_container-card-inner-front
  img {
  width: 100%;
}
.works_container-card
  .works_container-card-inner
  .works_container-card-inner-front
  h3 {
  text-align: center;

  font-size: 1.5em;

  color: #eee;
}

.works_container-card
  .works_container-card-inner
  .works_container-card-inner-front
  .spaceTravel-img {
  width: 70%;

  position: relative;
  top: 1.5em;
  left: 2.8em;
}
.works_container-card
  .works_container-card-inner
  .works_container-card-inner-front
  .numGuess-img {
  width: 50%;
  margin: 2em 4.5em;
}
.works_container-card
  .works_container-card-inner
  .works_container-card-inner-front
  .rating-img {
  margin-block-start: 2.5em;
}

.works_container-card .works_container-card-inner .spaceTravel-text {
  position: relative;

  top: 2em;
}
.works_container-card .works_container-card-inner .rating-text {
  position: relative;
  top: 1.3em;
}
.works_container-card .works_container-card-inner .speakers-text {
  margin-top: 0.8em;
}
.works_container-card .works_container-card-inner .numGuess-text {
  position: relative;
  bottom: 0.5em;
}

.works_container-card
  .works_container-card-inner
  .works_container-card-inner-back
  a {
  position: absolute;

  left: 35%;
  top: 40%;
  padding: 0.5em;

  border: none;
  border-radius: 2px;

  cursor: pointer;

  background-color: var(--third-color);
  color: var(--primary-color);
}

.works_container-card
  .works_container-card-inner
  .works_container-card-inner-front,
.works_container-card
  .works_container-card-inner
  .works_container-card-inner-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* MEDIA FOR 768PX... */

@media screen and (max-width: 768px) {
  .works_container {
    flex-wrap: wrap;
  }

  .works_container-card {
    height: 150px;
    width: 220px;
  }

  /* SPEAKER IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .speaker-img {
    width: 90%;

    margin: 0 0.7em 0 0.7em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .speaker-text {
    font-size: 1em;

    position: relative;
    top: 0.5em;
  }

  /* SPACE-TRAVEL IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .spaceTravel-img {
    width: 70%;
    position: relative;
    left: 1.5em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .spaceTravel-text {
    font-size: 1em;

    position: relative;
    top: 2em;
  }

  /* RATING IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .rating-img {
    width: 100%;

    margin: 2em 0em 0 0;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .rating-text {
    font-size: 1em;

    position: relative;
    top: 0.5em;
  }

  /* NUM-GUESS IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .numGuess-img {
    width: 50%;

    position: relative;

    right: 2em;
    bottom: 1em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .numGuess-text {
    font-size: 1em;

    position: relative;
    bottom: 2em;
  }
}

/* MEDIA QUERIES FOR 576PX  .. */
@media screen and (max-width: 576px) {
  .works {
    background-color: var(--secondary-color);

    padding: 0 3em;
  }
  .works_container {
    padding: 0;
  }
  .works_container .works_container-card-wrapper {
    flex-wrap: wrap;
    padding-inline: 0.3em;
  }

  .works_container h1 {
    margin-block-end: 1em;
  }

  .works_container-card {
    height: 200px;
    width: 220px;

    /* margin-inline: 3em; */
  }
  .works_container-card:not(:last-child) {
    margin-bottom: 2em;
  }

  /* SPEAKER IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .speaker-img {
    width: 90%;

    margin: 0 0.7em 0 0.7em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .speaker-text {
    font-size: 1.3em;

    position: relative;
    top: 0.9em;
  }

  /* SPACE-TRAVEL IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .spaceTravel-img {
    width: 70%;
    position: relative;
    left: 2.5em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .spaceTravel-text {
    font-size: 1.3em;

    position: relative;
    top: 2em;
  }

  /* RATING IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .rating-img {
    width: 100%;

    margin: 2em 0em 0 0;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .rating-text {
    font-size: 1.3em;

    position: relative;
    top: 1.3em;
  }

  /* NUM-GUESS IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .numGuess-img {
    width: 50%;

    right: 1em;

    /* margin: 1em 3.2em 0 3.2em; */
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .numGuess-text {
    font-size: 1.3em;

    position: relative;
    bottom: 1em;
  }
}

/* MEDIA QUERIES FOR 568PX  .. */
@media screen and (max-width: 568px) {
  .works_container .works_container-card-wrapper {
    flex-wrap: wrap;
    padding-inline: 0em;
  }
}

/* MEDIA QUERIES FOR 425PX  .. */
@media screen and (max-width: 425px) {
  .works {
    padding: 0;
  }
  .works_container {
    background-color: lightgray;

    margin-inline: 3rem;
  }

  .works_container h1 {
    margin-block-end: 0;
  }

  .works_container .works_container-card-wrapper {
    gap: 0;
    justify-content: space-between;

    padding-bottom: 1em;
    padding-inline: 3rem;
  }

  .works_container-card {
    height: 120px;
    width: 120px;
  }

  .works_container-card:not(:last-child) {
    margin-bottom: 16px;
  }

  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-back
    a {
    position: absolute;

    left: 2%;
    top: 40%;
    padding: 0em;

    border: none;
    border-radius: 2px;

    cursor: pointer;

    background-color: var(--third-color);
    color: var(--primary-color);
  }

  /* SPEAKER IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .speaker-img {
    width: 90%;

    position: relative;
    left: -0.2em;
    /* margin: 0 0.7em 0 0.7em; */
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .speaker-text {
    font-size: 0.8em;

    position: relative;
    top: -1em;
  }

  /* SPACE-TRAVEL IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .spaceTravel-img {
    width: 70%;

    position: relative;
    left: 1.3em;
    top: 0.8em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .spaceTravel-text {
    font-size: 1em;

    position: relative;
    top: 1.2em;
  }

  /* RATING IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .rating-img {
    width: 100%;

    position: relative;
    left: 0em;
    top: -1em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .rating-text {
    font-size: 1em;

    position: relative;
    top: -0.8em;
  }

  /* NUM-GUESS IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .numGuess-img {
    width: 50%;

    left: -3em;
    bottom: 1.6em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .numGuess-text {
    font-size: 0.8em;

    position: relative;
    top: -3.8em;
  }
}

/* MEDIA QUERIES FOR 375PX  .. */
@media screen and (max-width: 375px) {
  /* SPEAKER IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .speaker-img {
    width: 90%;

    position: relative;
    left: -0.2em;
    /* margin: 0 0.7em 0 0.7em; */
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .speaker-text {
    font-size: 0.8em;

    position: relative;
    top: 0em;
  }

  /* RATING IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .rating-img {
    width: 100%;

    position: relative;
    left: 0em;
    top: -1em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .rating-text {
    font-size: 0.8em;

    position: relative;
    top: 0.4em;
  }

  /* NUM-GUESS IMAGE AND TEXT */
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .numGuess-img {
    width: 50%;

    left: -3em;
    bottom: 1.6em;
  }
  .works_container-card
    .works_container-card-inner
    .works_container-card-inner-front
    .numGuess-text {
    font-size: 0.8em;

    position: relative;
    top: -3.4em;
  }
}
