@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700&family=Lato:wght@300&family=Merriweather&family=Montserrat:wght@100;400;900&family=Oswald&family=Overpass:wght@300;400;700&family=Poppins:wght@100;200;300;400&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&family=Sacramento&family=Sigmar+One&family=Ubuntu:wght@300&display=swap");

@import url("./sections/header.css");
@import url("./sections/hero.css");
@import url("./sections/skills.css");
@import url("./sections/works.css");
@import url("./sections/footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1d3557;
  --secondary-color: #a8dadc;
  --third-color: #457b9d;
  --fourth-color: #f1faee;
  --fifth-color: #705d56;
  --sixth-color: #e63946;

  --gradient-one: linear-gradient(
    311deg,
    rgba(28, 52, 87, 1) 33%,
    rgba(168, 218, 220, 1) 68%
  );
  --gradient-two: linear-gradient(
    311deg,
    rgba(69, 123, 157, 1) 28%,
    rgba(168, 218, 220, 1) 67%
  );
  --gradient-three: linear-gradient(
    311deg,
    rgba(153, 225, 217, 1) 57%,
    rgba(50, 41, 47, 1) 93%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.flex {
  display: flex;
}
.flex-jc_sb {
  justify-content: space-between;
}
.flex-ai_c {
  align-items: center;
}

/* @media (max-width: 578px) {
  body {
    overflow-x: hidden;
  }
} */
